.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputWrap {
  margin-bottom: 2rem;
}

.formField input {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 4px;
}

.formField input:focus {
  outline: none;
}

.formField label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3px;
}

.errorMsg {
  color: red;
  font-size: 13px;
  margin: 0;
  align-self: flex-start;
}
