body {
  background: rgb(83, 31, 196);
  background: linear-gradient(
    90deg,
    rgba(83, 31, 196, 1) 0%,
    rgba(0, 211, 255, 0.1516981792717087) 100%
  );
}

.formContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.formContainer form {
  background-color: #fafafa;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 27px 28px 15px -11px #777777;
}

.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 800px;
}

.submitButton {
  background-color: #1b66a7;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.submitButton:hover {
  background-color: #175892;
}

.errorMsg {
  color: red;
  font-size: 13px;
  margin: 0;
  align-self: flex-start;
}

.msgOk {
  color: green;
  margin: 15px;
}
